.navbar{
    width: 100%;
    height: 400px;
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(abc.jpg);
    background-size: cover;
    background-position: center;
    position: fixed;
}
.logo{
    height: 100px;
    width: 100px;
    margin-left: 300px;
    margin-top: -120px;
}
.nav-item{
    font: 18px/34px 'BasicCommercial LT Std', sans-serif;
    outline: none;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
    margin-left: 75px;
    margin-top: -100px;
}

